* {
    padding: 0;
    margin: 0;
}

body {
    overflow-x: hidden;
}

nav {
    display: flex;
    height: 50px;
    background-color: red;
    color: pink;
    align-items: center;
    justify-content: space-around;
} 

nav ul {
    display: flex;
    width: 50%;
    list-style: none;
    justify-content: space-between;
}

nav ul li a {
    color: pink;
    text-decoration: none;
}

nav ul li a:hover {
    color: papayawhip;
}

/* hamburger menu */
.menu-toggle {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
}

.menu-toggle input {
    position: absolute;
    width: 40px;
    height: 28px;
    top: -7px;
    left: -10px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
}

.menu-toggle span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: pink;
    border-radius: 3px;
    transition: all 0.5s;
}

/* hamburger menu animation */
.menu-toggle span:nth-child(2) {
    transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
    transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2) {
    background-color: #fff;
    transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle input:checked ~ span:nth-child(4) {
    background-color: #fff;
    transform: rotate(-45deg) translate(-1px, 0);
}

.menu-toggle input:checked ~ span:nth-child(3) {
    opacity: 0;
    transform: scale(0);
}


/* BREAKPOINTS */

/* ukuran tablet */
@media screen and (max-width: 764px) {
    nav ul {
        width: 50%;
    }
}


/* ukuran mobile */
@media screen and (max-width: 576px) {

    .menu-toggle {
        display: flex;
    }

    nav ul {
        position: absolute;
        top: 0;
        right: 0;
        width: 50%;
        height: 100vh;
        background-color: red;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        z-index: -1;
        transform: translateX(100%);
        transition: all 1s;
        opacity: 0;
    }

    nav ul.slide {
        opacity: 1;
        transform: translateX(0);
    }
}